@charset "utf-8";

html, body, iframe { height: 100%; margin: 0; padding: 0; }

html>body {}

html {
    font-size: 14px;
    color: #333;
}

body { 
    width: 100%;
    font-family: "Open Sans", Tahoma, Verdana, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
 }

.main { width: 100%; }

.main article { margin: 2rem 2rem auto 2rem; }

.main article h1 {
    font-size: 2.5rem;
}

.main article section h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.main article section p {
    font-size: 1rem;
    line-height: 1.75rem;
}

.main article ul li {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

/* Prevent drawing borders by the google-code-prettify. */
pre.prettyprint { 
    border: 0px !important; 
    font-family: Consolas;
    font-size: 12px;
}
